# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env/

# Packaging / build
build/
dist/
*.egg-info/
.eggs/

# Test, coverage, type-checking
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/
*.iml

# Logs
*.log
